name: CI

on: [push, pull_request]

jobs:
  flake8:
    name: Flake8
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        
    - run: pip install -r requirements-lint.txt
    
    - run: cd app/ && flake8 . -v